/*full page*/
body {
    background-color:#FFFAF5 ;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow-x: hidden;
}
h1 {
    background-color: #B2DB99;
    text-align: center;
    font-size: 4em;
    font-family:'Yeseva One', cursiv ;
    ;
    padding: .5em;
    margin-bottom: 1em;
 

}

nav{
    text-align: center;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

nav a{
    font-size:1.25em;
    font-family: 'DM Sans', sans-serif;
    padding: 0 10em 0 0;

}
footer a:nth-child(3),
nav a:nth-child(3){
    padding:0;
}

footer a{
    padding: 0 5em 0 0;
    font-size: 2em;
   
}

#page-wrapper{
    min-height:100%;
    position: relative;
}

#page{
    padding-bottom: 50px;
}

/*home page*/

.blurb {
    font-size: 1.75em;
    font-family: 'DM Sans', sans-serif;
    color: rgb(100, 100, 100);
    padding-bottom: 1em;
}

.blurb img{
    width:35%;
    float:left;
    padding: 0 1em 0 0;
}
.logos {
    height: 2em;
    margin-right: 10px;
    padding-right: 0;
}

.tags {
    text-align: center;
}

a{
    color: rgb(77, 77, 77);
}
a:hover{
    color:#B2DB99;
}

footer {
    border-top: 1px ridge rgb(71, 71, 71);
    position: absolute;
    height:75px;
    text-align:center;
    padding:0;
    bottom:0;
    left:0;
    right: 0;
   
}


header,
nav,
main{
    margin:0 0 2em 0;
}
/*resume*/
.container { 
    margin-bottom: 5em;
}

.work-experience {
    padding: 2em;
    border-radius: 20px;
    border-color: #DDBD77;
    border-style:solid;
    border-width: 5px;
}

h3 {
    font-family:'Yeseva One', cursive;
    color: rgb(100, 100, 100);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    font-family:'DM Serif Text', serif; 
}

.education {
    background-color: #DDBD77 ;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 20px;
    text-align: center;
    margin-left: 5em;
    border-style:double;
    border-color: antiquewhite;
    border-width: 2em;
}

@media (max-width: 1000px) {
    .education{
        margin-left: 0em;
        margin-top: 1em;
    }
    .resume-heads {
        text-align: center;
    }

}

dt{
    font-family:'Yeseva One', cursiv ;
}

dd{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*clips*/
.clips{
    text-align: center;
    background-color: #fae6bb;
    border-radius: 20px;
    padding: 2em;
}

h4 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

/*Media queries*/

@media (min-width:982px){
    .clips{
        width: 700px;
    }
}

@media (max-width:576px){
    .clips{
        width: 400px;
    }
    .blurb img{
        max-width:200px;
    }
}


@media (max-width:1200px){
    h1{
        font-size:3.25em;
    }
    nav a{
        padding: 0 5em 0 0;
    }
}

@media (min-width:1200px){
    .blurb img{
        max-width: 350px;
    }
}
  

@media (min-width: 750px){
    .blurb img{
        max-width:250px;
    }
}

@media (max-width:765px){
    footer a{
        font-size: 2em;
        padding: 0 5em 0 0;
        text-align: center;
    }
}

@media (max-width:687px){
    footer a {
        font-size: 1.75em;
        padding: 0 5em 0 0;
        text-align: center ;
      
    }
    .blurb{
        padding-bottom: 0;
    }
} 

@media (max-width:420px){
    footer a{
        font-size: 1.25em;
        padding: 0 4em 0 0;
        text-align: center;
    }
    .clips{
        width: 350px;
    }
}

@media (max-width:375px){
    nav a{
        padding: 0 4em 0 0;
    }
}


@media (min-width:1280px){
    footer{
        margin-bottom: 0;
        padding-bottom: 0;
        height: 0 ;
        font-size: 1em;
    }
}

